.container button {
    height: 48px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--primary);
    background: none;
    color: var(--primary);
}

button.is-secondary {
    background: var(--primary);
    color: var(--white);
}