.footer {
    background-color: var(--primary2);
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .link-mobile {
    text-decoration: none;
    color: black;
    text-align: center;
}

.footer .link-mobile img { 
    width: 30px;
    height: 30px;
}

.footer .link-mobile p {
    margin-block-end: 0;    
}

@media (min-width: 468px) {
    
    .footer {
        display: none;
    }
}