.orden-precios {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: rgba(0,255,0,.2);
    border: 1px solid rgba(0,255,0,.4);
    margin-block-start: 10px;
    margin-inline-end: 10px;
}

.orden-comentarios {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: rgba(0,0,255,.2);
    border: 1px solid rgba(0,0,255,.4);
    margin-block-start: 10px;
    margin-inline-end: 10px;
}

.orden-boton {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: rgba(255,0,0,.2);
    border: 1px solid rgba(255,0,0,.4);
    margin-block-start: 10px;
    margin-inline-end: 10px;
}