:root {
  --primary1: #757B63;
  --primary2: #D0973C;
  --navbar: #988776;
}

.navigation-setting {
  width: 100%;
  height: 80px;
  background-color: var(--navbar);
}

.logo-size {
  width: 60px;
}

.icon-size {
  width: 25px;
}