@import url(../css/navigation.css);
@import url(../css/footer.css);
@import url(../css/products.css);

:root {
  --primary1: #757B63;
  --primary2: #D0973C;
  --navbar: #988776;
  --body: #BD9A5F;
  --yellow: #FCAF1A;
  --orange: #F58234;
}

body {
  background: var(--body);
  margin:0;
}

.yaaa {
  margin-block-start: 100px;
  margin-block-end: 100px;
}

.block {
  width: 80%;
  height: 150px;
  background: var(--yellow);
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.block:hover {
  background-color: var(--orange);
}

#prod {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#prod img{
  width: 100px;
  height: 100px;
}

#categ{
  text-decoration: none;
  color: black;
}

#categ img {
  width: 20px;
  height: 20px;
}

#categ .row1,
#categ .row2,
#categ .row3,
#categ .row4
 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 50%;
}

#categ .row-a,
#categ .row-b {
  display: flex;
  justify-content: space-evenly;
}